.carousel__content {
  overflow: clip;
}

.carousel__track {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;

  &:focus {
    outline: none;
  }
}

.carousel__slide {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
}
